<% @comment = comment_panel %>
<div class="panel panel-<%= !@comment.internal ? "primary" : "warning"%>">
  <div class="panel-heading">
    <span>
      <p class="panel-title">
        <img src="https://www.wpclipart.com/signs_symbol/icons_oversized/male_user_icon.png" width="28px", height="28px">
        <%= @comment.author.try(:email) || "Unknown" %> - <%= "#{"Internal" if @comment.internal} #{@comment.created_at}" %></strong>
      </p>
    </span>
  </div>
  <div class="panel-body  <%="alert-warning" if @comment.internal %>">
    <%= @comment.body %>
  </div>
</div>
