<% if @tickets %>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID</th>
      <th>Reporter</th>
      <th>Subject</th>
      <th>Asignee</th>
      <th>Created</th>
    </tr>
  </thead>
  <% @tickets.each do |t| %>
  <tbody>
    <tr data-link="<%= ticket_path(t) %>">
      <td><%= t.id %></td>
      <td><%= t.reporter.try(:email) || "-" %></td>
      <td><%= t.subject %></td>
      <td><%= t.assignee.try(:email) || "-"  %></td>
      <td><%= t.created_at %></td>
    </tr>
  </tbody>
  <% end %>
<% else %>
<h2><small>No tickets in this view</small></h2>
<% end %>
