
<div class="">
<h1><%= @ticket.subject %></h1>
<p><%= @ticket.description %></p>
</div>
<div class="container panel">
  <div class="panel-title">
    <h1>new comment</h1>
  </div>
  <div class="panel-body">
    <%= form_for([@ticket, @comment], html: { class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :body, class: 'form-control', rows: 10 %>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
            <%= f.check_box :internal %>Internal
        </label>
          <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
      <%= fields_for @ticket do |tf| %>
        <div class="form-group col-md-2">
          <%= tf.label :status_id %>
          <%= tf.select(:status_id, options_for_select(@ticket.statuses.map.with_index{|i, v| [i, v]}), {:value => @ticket.status_id, class: "form-control"})
            %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="panel-footer">
    <span>Dunno</span>
  </div>
</div>


<div class="col-md-12">
  <% @ticket.comments.reverse.each do |comment| %>
    <%= render partial: 'comments/comment_panel', object: comment  %>
  <% end %>
</div>
